<link rel="stylesheet" href="/css/results.css" />

<div id="results">
  <% data.forEach(movie => { %>
  <div class="movieCard" popularity="<%=movie.dataValues.popularity%>">
    <img
      class="moviePoster"
      src="https://image.tmdb.org/t/p/original/<%=movie.dataValues.poster_path%>"
      alt=""
    />
    <div class="cardBody">
      <p class="title"><%= movie.dataValues.title %></p>
      <% let year = movie.dataValues.release_date.split("").slice(0,4) %>
      <p><%= year.join("") %></p>
      <hr width="120px" />
      <p>Rating: <%= Math.floor(movie.dataValues.popularity) %></p>
      <% if (currentUser) { %>
      <button
        id="<%= movie.dataValues.id %>,<%= movie.dataValues.title %>"
        class="seenButton"
      >
        I've Seen This
      </button>
      <% } %>
    </div>
  </div>
  <% }); %>
</div>

<script src="../../scripts/results.js" type="module"></script>
