<link rel="stylesheet" href="/css/results.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js
"></script>

<div id="results">
  <% data.forEach(movie => { %>
  <div class="movieCard" popularity="<%=movie.dataValues.popularity%>">
    <img
      class="moviePoster"
      src="https://image.tmdb.org/t/p/original/<%=movie.dataValues.poster_path%>"
      alt=""
    />
    <div class="cardBody">
      <p><%= movie.dataValues.popularity %></p>
      <p><%= movie.dataValues.title %></p>
      <p>
        <%= movie.dataValues.release_date %><span id="vert">|</span>Adult: <%=
        movie.dataValues.adult %>
      </p>
    </div>
  </div>
  <% }); %>
</div>

<script src="../../scripts/results.js" type="module"></script>
