<div class="genreChoice card">
  <p>Select the genre's (if any) you're not intrested in watching</p>
  <div class="pick4">
    <button id="r<%=tempGenres.Genre1%>" class="choice">
      <%=tempGenres.Genre1%>
    </button>
    <button id="r<%=tempGenres.Genre2%>" class="choice">
      <%=tempGenres.Genre2%>
    </button>
    <button id="r<%=tempGenres.Genre3%>" class="choice">
      <%=tempGenres.Genre3%>
    </button>
    <button id="r<%=tempGenres.Genre4%>" class="choice">
      <%=tempGenres.Genre4%>
    </button>
  </div>
  <hr />
  <p>Select the genre's (if any) you're intrested in watching</p>
  <div class="pick4">
    <button id="a<%=tempGenres.Genre5%>" class="choice">
      <%=tempGenres.Genre5%>
    </button>
    <button id="a<%=tempGenres.Genre6%>" class="choice">
      <%=tempGenres.Genre6%>
    </button>
    <button id="a<%=tempGenres.Genre7%>" class="choice">
      <%=tempGenres.Genre7%>
    </button>
    <button id="a<%=tempGenres.Genre8%>" class="choice">
      <%=tempGenres.Genre8%>
    </button>
  </div>
  <button id="genreChoice" class="done">Next</button>
</div>
