<div class="genreChoice card">
  <p>Select the two genre's you're least intrested in watching</p>
  <div class="pick2 2">
    <button id="r<%=Genre1%>" class="choice 4"><%=Genre1%></button>
    <button id="r<%=Genre2%>" class="choice 4"><%=Genre2%></button>
    <button id="r<%=Genre3%>" class="choice 4"><%=Genre3%></button>
    <button id="r<%=Genre4%>" class="choice 4"><%=Genre4%></button>
  </div>
  <hr />
  <p>Select the two genre's you're most intrested in watching</p>
  <div class="pick2 2">
    <button id="a<%=Genre5%>" class="choice 4"><%=Genre5%></button>
    <button id="a<%=Genre6%>" class="choice 4"><%=Genre6%></button>
    <button id="a<%=Genre7%>" class="choice 4"><%=Genre7%></button>
    <button id="a<%=Genre8%>" class="choice 4"><%=Genre8%></button>
  </div>
</div>
