<div></div>
<div class="genreChoice card">
  <p>Which genres are you NOT intrested in watching</p>
  <div class="pickX">
    <button id="r<%=tempGenres.Genre1%>" class="choice">
      <%=tempGenres.Genre1%>
    </button>
    <button id="r<%=tempGenres.Genre2%>" class="choice">
      <%=tempGenres.Genre2%>
    </button>
    <button id="r<%=tempGenres.Genre3%>" class="choice">
      <%=tempGenres.Genre3%>
    </button>
    <button id="r<%=tempGenres.Genre4%>" class="choice">
      <%=tempGenres.Genre4%>
    </button>
  </div>
  <div id="space"></div>
  <div id="space"></div>
  <div id="space"></div>
  <p>Which genres are you interested in watching</p>
  <div class="pickX">
    <button id="a<%=tempGenres.Genre5%>" class="choice">
      <%=tempGenres.Genre5%>
    </button>
    <button id="a<%=tempGenres.Genre6%>" class="choice">
      <%=tempGenres.Genre6%>
    </button>
    <button id="a<%=tempGenres.Genre7%>" class="choice">
      <%=tempGenres.Genre7%>
    </button>
    <button id="a<%=tempGenres.Genre8%>" class="choice">
      <%=tempGenres.Genre8%>
    </button>
  </div>
</div>
<img
  id="genreChoice"
  class="done"
  src="../images/next.png"
  alt="next"
  width="50px"
  height="50px"
/>
