<div class="romancePairing card">
  <div class="pick1 2">
    <p>Choose up to two other genres you'd like your romance movie to have</p>
    <button id="f<%=Genre1%>" class="choice 2"><%=Genre1%></button>
    <button id="f<%=Genre2%>" class="choice 2"><%=Genre2%></button>
    <button id="f<%=Genre3%>" class="choice 2"><%=Genre3%></button>
    <button id="f<%=Genre4%>" class="choice 2"><%=Genre4%></button>
    <button id="romancePairing" class="done">Show My Results</button>
  </div>
</div>
