<div class="romancePairing card">
  <div class="pick1 1">
    <p>Choose up to two other genres you'd like your romance movie to have</p>
    <button id="a<%=Genre1%>" class="choice 4"><%=Genre1%></button>
    <button id="a<%=Genre2%>" class="choice 4"><%=Genre2%></button>
    <button id="a<%=Genre3%>" class="choice 4"><%=Genre3%></button>
    <button id="a<%=Genre4%>" class="choice 4"><%=Genre4%></button>
  </div>
</div>
