<div class="romancePairing card">
  <div class="pick1 2">
    <p>Choose up to two other genres you'd like your romance movie to have</p>
    <button id="f<%=tempGenres.Genre1%>" class="choice 2">
      <%=tempGenres.Genre1%>
    </button>
    <button id="f<%=tempGenres.Genre2%>" class="choice 2">
      <%=tempGenres.Genre2%>
    </button>
    <button id="f<%=tempGenres.Genre3%>" class="choice 2">
      <%=tempGenres.Genre3%>
    </button>
    <button id="f<%=tempGenres.Genre4%>" class="choice 2">
      <%=tempGenres.Genre4%>
    </button>
    <button id="romancePairing" class="done">Show My Results</button>
  </div>
</div>
