<link rel="stylesheet" href="/css/profile.css" />
<div id="profileHeader">
  <button id="accountOption" class="profileOptionBttn loginCreate">
    Account
  </button>
  <button id="seenMovieOption" class="profileOptionBttn loginCreate">
    Movies
  </button>
  <a class="loginCreate logout" href="/account/logout">Logout</a>
</div>
<div id="profileOptions">
  <div class="profileOption accountOption">
    <p>First Name: <%= firstName %></p>
    <p>Last Name: <%= lastName %></p>
    <p>Usename: <%= username %></p>
  </div>
  <div class="profileOption seenMovieOption" hidden="hidden">
    <h2>Here are the movie's you've seen</h2>
    <div id="seenMovies">
      <% seenMovies.forEach(movie => { %>
      <div class="seenMovieCard">
        <img
          class="moviePoster"
          src="<%=movie.posterImage%>"
          alt="posterImage"
        />
        <button id="<%= movie.id %>,<%= movie.title %>" class="seenButton">
          Remove
        </button>
      </div>
      <% }) %>
    </div>
  </div>
</div>
